<div class="bahhhh">

    <i id=slogan>Connect.Me</i><br>


    <span id=profile>
  <button id="buttonclear"><img src="{{photo}}" height="35" width="35"/></button>
  <strong id=slogan>{{user.firstname}} {{user.lastname}}</strong>
  <strong id=slogan>|   Home </strong>
  <strong id=slogan>|   Logout</strong>
</span>
</div>




<div class="row">

    <div class="col-md-3" id=top>
    </div>


    <div class="col-md-6" id=mypage>
        <div id="bannerdiv">
        </div>

        <div id="pic">
            <img src="{{user.photo_url}}" height="150" width="150"/>
        </div>

        <div id="name">
            {{user.firstname}} {{user.lastname}}
        </div>


        <div id="aboutme">
            <button type="submit" id="me">About me </button>
            <button type="submit" id="connection">Connections </button>
            <button onclick="document.getElementById('id01').style.display='block'"  id="update">Update info</button>
        </div>


        <div id="wall">

            <br>
            <form action="/profile/wallpost" method="POST">
            <input type="text" placeholder="Share something" name="wallpost" id="postbar" class="form-control" required>
            <br>
            <button type="submit" class="btn btn-warning" id="postsubmit">submit</button>
            </form>

            <div id="wallpost">
           ABOUT ME
            </div>

        </div>
    </div>

    <div class="col-md-3" id=top>
    </div>
</div>



        




<div class="col-md-2" id=sidebar>
    <h5>My connects</h5><br> {{#each similar}}

    <div class="row">
        <div class="col-md-10">
            <div class="online">
                <img src="{{this.photo_url}}" height="50" width="50" /> {{this.firstname}} {{this.lastname}}
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <div class="online">
                    <img src="assets/css/greendot.png" height="10" width "10"/>

                </div>
            </div>
        </div>

    </div>
    {{/each}}
</div>




  