<div class="bahhhh">

<i id=slogan>Connect.Me</i><br>

<!-- this is the handlebar file to render the logged in home page -->

<!-- the header, profile image button will route to /profile -->
<span id=profile>
  <a href="/profile"><button id="buttonclear"><img src="{{photo}}" height="35" width="35"/></button></a>
  <strong id=slogan>| {{user.firstname}}{{user.lastname}}</strong>
  <a href="/home"><strong id=slogan>|   Home </strong>
  <a href="/"><strong id=slogan>|   Logout</strong></a>
</span>


<div class="row">

<div class="col-md-10" id=top>

<h6>Recommended Professionals</h6>

  {{#each similar}}
  {{#unless this.friended}}

  <div class="box">

        <img src= "{{this.photo_url}}" height="80" width="80"/>
        <div class="boxin">
        FirstName: {{this.firstname}}<br>
        LastName: {{this.lastname}}<br>
        Age: {{this.age}}<br>
        Company: {{this.company}}<br>
        Position:{{this.position}}<br>
        industry: {{this.industry}}<br>
        level: {{this.level}}
        
      </div>

    <form action="/findconnections/friend" method="POST">
        <input type="hidden" name="friended" value="{{this.id}}">
        <button id="buttonclear" type="submit" class="addbutton"><img src="assets/css/add.png" height="20" width="20"/></button>
    </form>




</div>
  {{/unless}}
  {{/each}}
  

</div>



<div class="col-md-2" id=sidebar>

<h5>My connects</h5><br>
{{#each similar}}
{{#if this.friended}}

<div class="row">
<div class="col-md-10">
            <div class="online">
                 <form action="/connectprofile" method="POST">
                  <input type="hidden" name="connectprofile" value="{{this.id}}"></input>
                 <button id="buttonclear2" type="submit"><img src="{{this.photo_url}}" height="50" width="50" />{{this.firstname}} {{this.lastname}}
                    </button>
                </form>
                 
            </div>
        </div>

<div class="row">
            <div class="col-md-2">
                <div class="online">
                  <form action="https://hack.chat/?{{this.firstname}}{{this.lastname}}" method="GET" target="_blank">
                  <input type="hidden" name="chat" value="{{this.firstname}}{{this.lastname}}">
                    <button id="buttonclear2"><img src="assets/css/greendot.png" height="10" width="10"/></button>
                    </form>
                </div>
            </div>
        </div>

</div>
  {{/if}}
 {{/each}}
  </div>


  </div>
   
    
  </div>